.logo {
  font-size: 25px;
  display: flex;
  align-items: center;
  display: none;

  @include device-md {
    display: block;
  }

  a {
    font-weight: bold;
    color: map-get($theme-colors, "primary");
  }
}
