.content {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: $baseMargin * 4;
  &__searchText {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin: 0px $baseMargin;
    max-width: 400px;
    width: 100%;

    span {
      position: absolute;
      left: 20px;
      top: 50%;
      display: flex;
      align-items: center;
      font-size: 20px;
      transform: translateY(-50%);
      color: #777;
    }

    input {
      margin: 0px;
      font-size: 14px;
      border: 1px solid rgba(55, 55, 55, 0.1);
      border-radius: 50px;
      color: $searchColor;
      background: $searchBgColor;
      width: 100%;
      display: block;
      outline: none;
      padding: 10px;
      padding-left: 46px;
      padding-right: 63px;
    }
  }
}
